@import "/src/theme/color.scss";
@import "/src/theme/variables.scss";


.surveys{
  .accord{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
  }
.labels{
  display: flex;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}
  .answers{
    background-color: $primary-color;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    @media screen and (max-width: 800px) {
      width: 100%;
    }
  }

  .pie{
    @media screen and (max-width: 800px) {
      width: 100%;
      overflow: scroll;
    }
  }
}